
.dev-by {
    position: absolute;
    width: 11rem;
    display: block;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    margin: auto;
}

.loader{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20rem;
}

.loader-dots {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 12rem;
    bottom: 0;
    margin: auto;
    width: 7rem;
}